
.App {
  text-align: center;
}



.MuiFormLabel-root{
  color: rgb(255 255 255 / 90%) !important;
    padding: 0;
    font-size: 1.3rem !important;
  
}



.MuiInputBase-input {
  font-family: Roboto !important;
  color: #fff !important;
  font-size: 1.5rem !important;
}

  
.App-header {
  background-image: url(./wallpaper.jpg);
  background-color: #1c0f55;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



h1{
  
  text-transform:uppercase;
  color:#ffc1c1;
  font-size:3em;
  font-weight:bold;
  text-align:center;
  text-shadow:0.08em 0em #6e2bda;
}

.Input-Title{
  background-color: #9c31f338;
  width: 40em;
}




